<style>


.nav-style{
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
}

.nav-sub-style{
    font-family: sans-serif;
}

ul {
    display: flex;
    height: 40px;
    opacity: 0.8;
    margin: 0px;
    justify-content:space-around;
    align-items: center;
    background-color: black;
}


li {
    font-family: fantasy;

}

li a {
    text-decoration: none;
    color:white;

}
.wrapper {
    display: grid;
    /* background-color: ; */
    grid-template-rows: 1.8fr 7fr
}

.slideup-enter {
    opacity: 0;
}

.slideup-enter-active {
    transition: opacity 0.3s;
}

.slideup-leave {

}

.slideup-leave-active {
    opacity: 0;
    transition: opacity 0.2s;
}

.upload-btn-wrapper {
  position: relative;
  margin-bottom: 0;
  margin-top: 0;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  margin-left:90px;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.btn-resize {
  border: 1px solid gray;
  color: black;
  margin-left:0px;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}


.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.slider {
  -webkit-appearance: none;
  width: 120px;
  height: 12px;
  border-radius: 5px;
  background: #000;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 12px;
  border-radius: 50%;
  background: #111;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
/* .canvas {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

  & > img {
    max-height: 100%;
    max-width: 100%;
  }
} */
.upload-state {
margin-top: 240px;
margin-bottom: -200px;
margin-left: 460px;
}


.canvas {
  align-items: center;
  margin-top: 10px;
  display: flex;
  margin-left: 150px;
  justify-content: flex-end;
  margin-right: 150px;

}

.canvas img {

}
</style>
